/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SundialExchangeApiCore } from "../core.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { RequestOptions } from "../lib/sdks.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { SundialExchangeAPIError } from "../models/errors/sundialexchangeapierror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Generate premium Solana market forecast (AI + DeFiLlama data)
 *
 * @remarks
 * Produces a high-value, AI-generated 24–48 hour Solana market outlook derived from DeFiLlama token trends and liquidity signals. Ideal for automated testers evaluating premium x402 integrations, MEV defense, or treasury risk models.
 *
 * The response includes:
 * - Aggregated sentiment on SOL momentum (bullish/bearish & projected range)
 * - Top trending Solana tokens with catalyst commentary
 * - Notable whale/liquidity anomalies observed in the last 24h
 *
 * **Pricing:** Requires a $10.00 USDC x402 payment (Base or Solana) per invocation.
 * **x402 canonical price:** `10000000` (USDC has 6 decimals, 10.00 → 10,000,000)
 *
 * > **Note for human users:** This feed is experimental and optimised for autonomous QA clients. Use at your own discretion.
 */
export function premiumGetPremiumInsight(
  client: SundialExchangeApiCore,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetPremiumInsightResponse,
    | errors.X402Challenge
    | errors.ErrorResponse
    | SundialExchangeAPIError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    options,
  ));
}

async function $do(
  client: SundialExchangeApiCore,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetPremiumInsightResponse,
      | errors.X402Challenge
      | errors.ErrorResponse
      | SundialExchangeAPIError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const path = pathToFunc("/api/premium-insight")();

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getPremiumInsight",
    oAuth2Scopes: [],

    resolvedSecurity: null,

    securitySource: null,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["402", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetPremiumInsightResponse,
    | errors.X402Challenge
    | errors.ErrorResponse
    | SundialExchangeAPIError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetPremiumInsightResponse$inboundSchema, {
      key: "Result",
    }),
    M.jsonErr(402, errors.X402Challenge$inboundSchema, { hdrs: true }),
    M.jsonErr(500, errors.ErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
